body {
  font-family:Vazirmatn FD, Montserrat, sans-serif;
  direction: rtl;
  text-align: right;
}

.title h2 {
  letter-spacing: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(35%,#ba38d2),
    color-stop(75%, #6851df)
  );
  background: linear-gradient(to right,  #ba38d2 35%, #6851df 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title h6 {
  letter-spacing: 0;
}
.title .bottom-border {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#6851df),
    to(#ba38d2)
  );
  background: linear-gradient(to left, #6851df, #ba38d2);
}
.second-img {
  margin-right: -50px;
  margin-left: unset;
}
.app-preview-section
  .demo-effects
  .demo-layouts.app-preview:hover
  .preview-header {
  -webkit-transform: translate(-18%, 0);
  transform: translate(-18%, 0);
  -moz-transform: translate(-18%, 0);
  -ms-transform: translate(-18%, 0);
  -o-transform: translate(-18%, 0);
}
.top-header .logo {
  margin-right: 50px;
  margin-left: unset;
}
.top-header .logo .navbar-brand {
  margin-right:unset;
  margin-left: 0;
}
.purchase-block {
  margin-left: 50px;
  margin-right: unset;
}
.purchase-block span {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.portfolio-section .portfolio-back {
  right: 0;
  left: 0;
}
.portfolio-section .portfolio-back h1 {
  text-align: center;
}
.portfolio-section .port-img {
  margin-left: 60px;
  margin-right: unset;
}
.portfolio-section .port-sib {
  right: 13%;
  left: unset;
}
.portfolio-section .port-round {
  right: 2%;
  left: unset;
}
.portfolio-section .port-ract {
  left: 10%;
  right: unset;
}
.portfolio-section .port-squar {
  left: 31%;
  right: unset;
}
.text-as-bg h1 {
  font-family:Vazirmatn FD, Montserrat;
  text-align: center;
}
.text-as-bg h1 span {
  float: left;
}


.home-section .home-contain .inner-slide1 {
  right: -10%;
  left: unset;
}
.home-section .home-contain .inner-slide2 {
  right: 26%;
  left: unset;
}
.home-section .home-contain .inner-slide4 {
  right: 65%;
  left: unset;
}
.home-section .home-contain .inner-slide5 {
  left: -110px;
  right: unset;
}
.home-section .hom-suar1 {
  right: 2%;
  left: unset;
}
.home-section .hom-suar2 {
  left: 10%;
  right: unset;
}
.home-section .hom-ract1 {
  right: 21%;
  left: unset;
}
.home-section .hom-ract2 {
  left: 19%;
  right: unset;
}
.home-section .hom-round1 {
  right: 10%;
  left: unset;
}
.home-section .hom-round2 {
  left: 30%;
  right: unset;
}
.home-section .hom-sib2 {
  right: 22%;
  left: unset;
}
.home-section .hom-cloud1 {
  left: 35%;
  right: unset;
}
.home-section .hom-cloud2 {
  right: 32%;
  left: unset;
}
.home-section .hom-cloud3 {
  right: 30%;
  left: unset;
}
.home-section .hom-cloud4 {
  right: 39%;
  left: unset;
}
.inner-slide3 {
  right: 50%;
  left: unset;
  margin-left: -50%;
  margin-right: unset;
  -webkit-transform: translate(50%, 10%);
  transform: translate(50%, 10%);

}

.app-preview-section .demo-back-txt .demo-left-txt {
  right: -85px;
  left: unset;
}
.app-preview-section .demo-back-txt .demo-left-txt h1 {
  font-family:Vazirmatn FD, Montserrat;
}
.app-preview-section .demo-back-txt .demo-right-txt {
  left: 0;
  right: unset;
}

.app-preview-section .demo-effects .demo-layouts.app-preview .preview-header {
  text-align: right;
  font-family:Vazirmatn FD, Roboto;
}
.app-preview-section
  .demo-effects
  .demo-layouts.app-preview
  .preview-header:before {
    right: -80px;
  left: unset;
}

.app-preview-section .demo-ract1 {
  right: 24%;
  left: unset;
}
.app-preview-section .demo-squar {
  left: 2%;
  right:unset;
}
.app-preview-section .demo-sib1 {
  right: 50px;
  left: unset;
}
.app-preview-section .demo-ract3 {
  right: 10%;
  left: unset;
}

.app-preview-section .ecommerce-back-txt {
  right: 0;
  left: unset;
}

.app-preview-section .ecom-round1 {
  left: 11%;
  right: unset;
}
.app-preview-section .ecom-squar {
  right: 10%;
  left: unset;
}

.elemant-bounce .elemant-back {
  right: 0;
  left: unset;
}
.elemant-bounce .elemant-back h1 {
  font-family:Vazirmatn FD, Raleway;
}

.elemant-bounce .element-rect {
  right: 5%;
  left: unset;
}
.elemant-bounce .element-round {
  right: 10%;
  left: unset;
}
.elemant-bounce .element-sib {
  left: 10%;
  right: unset;
}
.elemant-bounce .element-squar {
  left: 10%;
  right: unset;
}

.advance-feature .core-back {
  right: 8%;
  left:unset;
}
.advance-feature .core-back h1 {
  font-family:Vazirmatn FD, Raleway;
}
.advance-feature .cor-sib {
  right: 5%;
  left: unset;
}
.advance-feature .cor-round {
  right: 3%;
  left: unset;
}
.advance-feature .cor-ract {
  left: 15%;
  right:unset;
}
.advance-feature .cor-squar1 {
  left: 5%;
  right:unset;
}
.advance-feature .cor-squar2 {
  left: 35%;
  right:unset;
}

.testimonial-main .testimonial-back {
  right: 0;
  left: unset;
}
.testimonial-main .testimonial-back h1 {
  font-family:Vazirmatn FD, Raleway;
}
.testimonial-main .testimonial-contain .testimonial-left {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.testimonial-main .testimonial-contain .testimonial-left h3 {
  letter-spacing: 0;
  font-family:Vazirmatn FD, Roboto;
}
.testimonial-main .testimonial-contain .testimonial-left p {
  letter-spacing: 0;
}

.testimonial-main .testimonial-contain .testimonial-right .media .media-body {
  margin-right: 20px;
  margin-left: unset;
  letter-spacing: 0;
}
.testimonial-main
  .testimonial-contain
  .testimonial-right
  .media
  .media-body
  h5 {
  letter-spacing: 0;
}
.testimonial-main .testimonial-contain .testimonial-right p {
  letter-spacing: 0;
}

.testimonial-main .testimonial-contain .slick-dots {
  right: -45px;
  left: unset;
}

.testimonial-main .testimonial-contain .slick-dotted.slick-slider {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.testimonial-main .test-sib {
  right: 15%;
  left: unset;
}
.testimonial-main .test-round {
  right: 5%;
  left: unset;
}
.testimonial-main .test-ract {
  left: 9%;
  right:unset;
}
.testimonial-main .test-squar1 {
  left: 10%;
  right: unset;
}
.testimonial-main .test-squar2 {
  left: 20%;
  right: unset;
}

.rate-us-section .rate-us-back {
  right: 0;
  left: unset;
}
.rate-us-section .rate-us-back h1 {
  font-family:Vazirmatn FD, Raleway;
}

.rate-us-section .rate-us-contain h1 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ba38d2),
    color-stop(75%, #6851df)
  );
  background: linear-gradient(to right, #ba38d2 40%, #6851df 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rate-us-section .rate-us-contain p {
  font-family:Vazirmatn FD, Roboto;
}
.rate-us-section .rat-sib {
  right: 15%;
  left: unset;
}
.rate-us-section .rat-round {
  right: 5%;
  left: unset;
}
.rate-us-section .rat-ract {
  left: 9%;
  right:unset;
}
.rate-us-section .rat-squar1 {
  left: 10%;
  right:unset;
}
.rate-us-section .rat-squar2 {
  left: 20%;
  right:unset;
}
.btn-gradient {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(15%, #6851df),
    color-stop(85%, #ba38d2)
  );
  background-image: linear-gradient(to left, #6851df 15%, #ba38d2 85%);
  letter-spacing: 0;
}
.btn-gradient:hover,
.btn-gradient:active,
.btn-gradient:focus {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(15%, #ba38d2),
    color-stop(85%, #6851df)
  );
  background-image: linear-gradient(to left, #ba38d2 15%, #6851df 85%);
}

.footer-main .footer-right p {
  text-align: left;
  font-family:Vazirmatn FD, Roboto;
}
.tap-top {
  left: 30px;
  right: unset;
  background: -webkit-gradient(
    linear,
    right bottom,
    right top,
    from(#ba38d2),
    to(#6851df)
  );
  background: linear-gradient(to top, #ba38d2, #6851df);
}
@media (max-width: 1800px) {
  .home-section .home-contain .inner-slide1 {
    right: -10%;
    left: unset;
  }
 
  .home-section .home-contain .inner-slide2 {
    right: 19%;
    left: unset;
  }
  .home-section .home-contain .inner-slide5 {
    left: -15%;
    right: unset;
  }
}

@media (max-width: 1199px) {

  .portfoli-section .port-img {
    margin-left: 40px;
    margin-right: unset;
  }
}
@media (max-width: 991px) {
  
  .navbar-collapse {
    left: 0px;
    right: unset;
  }
  .main-menu {
    margin-left: 30px;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .purchase-block {
    margin-left: 20px;
    margin-right: unset;
  }
  .top-header .logo {
    margin-right: 20px;
    margin-left: unset;
  }
 
  .testimonial-main .testimonial-contain .testimonial-left {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
  }
  .testimonial-main .testimonial-contain .testimonial-right {
    border-bottom-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
  }

  .testimonial-main .testimonial-contain .testimonial-right .media .media-body {
    margin-right: 0;
    margin-left: unset;
  }
  .testimonial-main .testimonial-contain .slick-next {
    left: 40%;
    right:unset;
  }
  .testimonial-main .testimonial-contain .slick-prev {
    right: 40%;
    left: unset;
  }
  
}
@media (max-width: 575px) {
  .m-x-auto {
    margin-left: 0;
  }
  .top-header .logo {
    margin-right: 0;
    margin-left: unset;
  }
  .purchase-block {
    margin-left: 0;
    margin-right: unset;
  }
}

.flex_center{
  align-content: center;
  justify-content: center;
  align-items: center;
}
.slide-center-3{
  direction: ltr;
}
.form-inline {
  justify-content: center;
}